@{
    Layout = null;
}
<html>
<head>
  <title>Hello React</title>
</head>
<body>
    <!-- This will render the component server-side -->
    @Html.React("ReduxPage", new {
        name = "Redux"
    })

    <script src="~/dist/ReduxPage.js"></script>
    @Html.ReactInitJavaScript(clientOnly: true)
</body>
</html>